/*CITY PARTNERS*/

@media only screen and (max-width:1200px)
{
    .city-partners{

        .city-partners-wrapper{
            height: 100%;
            flex-wrap: wrap;
            .partner-box{
                width: 50%;
                               
            }

        }
        
    }
}

@media only screen and (max-width:970px)
{
    .count-up{

        .count-up-container{
            
            .counter-box{

            }
        }
    }
}

@media only screen and (max-width:900px)
{
    .city-partners{
        padding: 25px 150px;
        .city-partners-wrapper{
            height: 100%;
            flex-wrap: wrap;
            .partner-box{
                width: 50%;
                               
            }

        }
        
    }
}

@media only screen and (max-width:730px)
{
    .city-partners{
        padding: 25px 100px;
        .city-partners-wrapper{
            height: 100%;
            flex-wrap: wrap;
            .partner-box{
                width: 50%;
                               
            }

        }
        
    }
}

@media only screen and (max-width:620px)
{
    .city-partners{
        padding: 25px 50px;
        .city-partners-wrapper{
            height: 100%;
            flex-wrap: wrap;
            .partner-box{
                width: 50%;
                               
            }

        }
        
    }
}

@media only screen and (max-width:450px)
{
    .city-partners{
        padding: 25px;
        .city-partners-wrapper{
            height: 100%;
            flex-wrap: wrap;
            .partner-box{
                width: 100%;
                               
            }

        }
        
    }
}

/*NEWS*/

@media only screen and (max-width:1300px)
{
   .news .news-container{

    justify-content: center;
    column-gap: 20px;
    max-width: 1000px;
    
     .news-card{
            width:40%;
        }
  }
}

@media only screen and (max-width:765px)
{
   .news .news-container{

    justify-content: center;
    column-gap: 20px;
    max-width: 600px;
    
     .news-card{
            width:40%;
        }
  }
}

@media only screen and (max-width:645px)
{
   .news .news-container{

    justify-content: center;
    column-gap: 20px;
    //max-width: 1000px;
    
     .news-card{
            width:70%;
        }
  }
}

@media only screen and (max-width:440px)
{
   .news .news-container{

    justify-content: center;
    column-gap: 20px;
    
    
     .news-card{
            width:90%;
        }
  }
}

@media only screen and (max-width:320px)
{
   .news .news-container{

    justify-content: center;
    column-gap: 20px;
    
    
     .news-card{
            width:100%;
        }
  }
}

/*COUNT UP*/

@media only screen and (max-width:980px)
{
    .count-up .count-up-container{
        height: 100%;
        flex-wrap: wrap;
        row-gap: 20px;

        .counter-box{
            width:50%;
        }

    }
    
    
}

@media only screen and (max-width:510px)
{
    .count-up .count-up-container{
        height: 100%;
        flex-wrap: wrap;
        row-gap: 20px;

        .counter-box{
            width:100%;
        }

    }
    
    
}

/*WHY-US*/

@media only screen and (max-width:500px)
{
    .why-us{
        .why-us-reasons-container{
            padding:0px 50px;

            .why-us-reasons-wrapper{
                .why-us-reasons-start{
                    width: 100%;
                }

                .why-us-reasons-end{
                    width: 100%;
                }
            }
        }
    }

    
}

/*ABOUT US*/

@media only screen and (max-width:1250px)
{
    .who-are-we .who-are-we-content-wrapper .who-are-we-image{
        object-fit: cover;
    }
}

@media only screen and (max-width:900px)
{
    .who-are-we .who-are-we-content-wrapper{
        flex-direction: column;
    
        .who-are-we-image{
            width:100%;
            object-fit: cover;
        }
        
        .description-container{
            width: 100%;
        }
    }
}

@media only screen and (max-width:800px)
{
    .who-are-we .who-are-we-content-wrapper{

        .who-are-we-image{
            height: 500px;
        }
    }
}

/*NAV BAR*/

@media only screen and (max-width: 688px)
{
    .nav-bar{
        //height: 200px;
        .navBar-wrapper{
            .nav-start{

                .menu{
                    display:none;
                }
            }

            /*.nav-end{
                .right-container{

                    .search{
                        width:20px;
                    }
                }
            }*/

            .nav-end{
                display:none;
            }

            .small-screen-navbar-icons{
                display:block;
                .small-screen-wrapper{

                    .hamburger-menu{
                        display: block;
                    }
                    
                    .search-small-screen{
                        display:block;
                    }
                }
                
            }

        }
    }
}

/*FOOTER*/

@media only screen and (max-width:830px)
{
    .footer{
        .footer-container{

            .footer-bottom{
            
                .footer-bottom-socials{
                    display:none;
                }
    
                .footer-bottom-info{
                    .footer-bottom-info-start{
                        p{
                            font-size: 12px;
        
                            .year{
                                font-size:12px;
                            }
                        }
                        .footer-rights{font-size:12px}
                    }
                    
                    
                    .footer-developed{font-size: 12px;}
    
                    
                }
            }
        }
        
    }
}

@media only screen and (max-width:650px)
{
    .footer .footer-container .footer-bottom{
        
        .footer-bottom-info{
            flex-direction: column;
            .footer-bottom-info-start{


            }
        }
    }
}

@media only screen and (max-width:390px)
{
    .footer .footer-container .footer-bottom{
        
        .footer-bottom-info{
            flex-direction: column;
            text-align: center;
            .footer-bottom-info-start{
                flex-direction: column;

                p{
                    &::after{border:none;}
                }
            }
        }
    }
}


