/*CITY PARTNERS*/
@media only screen and (max-width: 1200px) {
  .city-partners .city-partners-wrapper {
    height: 100%;
    flex-wrap: wrap;
  }
  .city-partners .city-partners-wrapper .partner-box {
    width: 50%;
  }
}
@media only screen and (max-width: 900px) {
  .city-partners {
    padding: 25px 150px;
  }
  .city-partners .city-partners-wrapper {
    height: 100%;
    flex-wrap: wrap;
  }
  .city-partners .city-partners-wrapper .partner-box {
    width: 50%;
  }
}
@media only screen and (max-width: 730px) {
  .city-partners {
    padding: 25px 100px;
  }
  .city-partners .city-partners-wrapper {
    height: 100%;
    flex-wrap: wrap;
  }
  .city-partners .city-partners-wrapper .partner-box {
    width: 50%;
  }
}
@media only screen and (max-width: 620px) {
  .city-partners {
    padding: 25px 50px;
  }
  .city-partners .city-partners-wrapper {
    height: 100%;
    flex-wrap: wrap;
  }
  .city-partners .city-partners-wrapper .partner-box {
    width: 50%;
  }
}
@media only screen and (max-width: 450px) {
  .city-partners {
    padding: 25px;
  }
  .city-partners .city-partners-wrapper {
    height: 100%;
    flex-wrap: wrap;
  }
  .city-partners .city-partners-wrapper .partner-box {
    width: 100%;
  }
}
/*NEWS*/
@media only screen and (max-width: 1300px) {
  .news .news-container {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 1000px;
  }
  .news .news-container .news-card {
    width: 40%;
  }
}
@media only screen and (max-width: 765px) {
  .news .news-container {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 600px;
  }
  .news .news-container .news-card {
    width: 40%;
  }
}
@media only screen and (max-width: 645px) {
  .news .news-container {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .news .news-container .news-card {
    width: 70%;
  }
}
@media only screen and (max-width: 440px) {
  .news .news-container {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .news .news-container .news-card {
    width: 90%;
  }
}
@media only screen and (max-width: 320px) {
  .news .news-container {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .news .news-container .news-card {
    width: 100%;
  }
}
/*COUNT UP*/
@media only screen and (max-width: 980px) {
  .count-up .count-up-container {
    height: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .count-up .count-up-container .counter-box {
    width: 50%;
  }
}
@media only screen and (max-width: 510px) {
  .count-up .count-up-container {
    height: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .count-up .count-up-container .counter-box {
    width: 100%;
  }
}
/*WHY-US*/
@media only screen and (max-width: 500px) {
  .why-us .why-us-reasons-container {
    padding: 0px 50px;
  }
  .why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reasons-start {
    width: 100%;
  }
  .why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reasons-end {
    width: 100%;
  }
}
/*ABOUT US*/
@media only screen and (max-width: 1250px) {
  .who-are-we .who-are-we-content-wrapper .who-are-we-image {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 900px) {
  .who-are-we .who-are-we-content-wrapper {
    flex-direction: column;
  }
  .who-are-we .who-are-we-content-wrapper .who-are-we-image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .who-are-we .who-are-we-content-wrapper .description-container {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .who-are-we .who-are-we-content-wrapper .who-are-we-image {
    height: 500px;
  }
}
/*NAV BAR*/
@media only screen and (max-width: 688px) {
  .nav-bar .navBar-wrapper {
    /*.nav-end{
        .right-container{

            .search{
                width:20px;
            }
        }
    }*/
  }
  .nav-bar .navBar-wrapper .nav-start .menu {
    display: none;
  }
  .nav-bar .navBar-wrapper .nav-end {
    display: none;
  }
  .nav-bar .navBar-wrapper .small-screen-navbar-icons {
    display: block;
  }
  .nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper .hamburger-menu {
    display: block;
  }
  .nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper .search-small-screen {
    display: block;
  }
}
/*FOOTER*/
@media only screen and (max-width: 830px) {
  .footer .footer-container .footer-bottom .footer-bottom-socials {
    display: none;
  }
  .footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start p {
    font-size: 12px;
  }
  .footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start p .year {
    font-size: 12px;
  }
  .footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start .footer-rights {
    font-size: 12px;
  }
  .footer .footer-container .footer-bottom .footer-bottom-info .footer-developed {
    font-size: 12px;
  }
}
@media only screen and (max-width: 650px) {
  .footer .footer-container .footer-bottom .footer-bottom-info {
    flex-direction: column;
  }
}
@media only screen and (max-width: 390px) {
  .footer .footer-container .footer-bottom .footer-bottom-info {
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start {
    flex-direction: column;
  }
  .footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start p::after {
    border: none;
  }
}
/*SLIDESHOW*/
@media only screen and (max-width: 1610px) {
  .slideshow .slide-container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1400px) {
  .slideshow .slide-container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 1170px) {
  .slideshow {
    height: 100%;
  }
  .slideshow .slide-container {
    max-width: 540px;
    flex-wrap: wrap;
  }
  .slideshow .slide-container .slideshow-text-container {
    width: 100%;
    padding: 17px 0px;
  }
  .slideshow .slide-container .slideshow-text-container .description-of-slideshow {
    margin-bottom: 10px;
  }
  .slideshow .slide-container .slideshow-image-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 590px) {
  .slideshow .slide-container {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 680px) {
  .slideshow .left-button-container, .slideshow .right-button-container {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .slideshow .slide-container .slideshow-text-container .title-of-slideshow {
    font-size: 25px;
  }
  .slideshow .slide-container .slideshow-text-container .description-of-slideshow {
    font-size: 15px;
  }
  .slideshow .slide-container .slideshow-more {
    font-size: 13px;
  }
}/*# sourceMappingURL=responsive.css.map */