* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body {
  overflow-x: hidden;
}

.remove-text-decoration {
  text-decoration: none;
}

.list-style-type-none {
  list-style-type: none;
}

/*EXPAND NAV BAR*/
.expand {
  height: 200px;
  animation: drop 1s;
}

.close {
  animation: close 2s;
}

@keyframes drop {
  from {
    height: 100px;
  }
  to {
    height: 200px;
  }
}
@keyframes close {
  from {
    height: 200px;
  }
  to {
    height: 100px;
  }
}
/*EXPAND NAV BAR END*/
/*NAVBAR*/
.top-nav-bar {
  background-color: red;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  justify-content: space-between;
  position: relative;
}
.nav-bar .navBar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navBar-wrapper .nav-start {
  display: flex;
  align-items: center;
}
.nav-bar .navBar-wrapper .nav-start #navbar-logo {
  width: 100px;
}
.nav-bar .navBar-wrapper .nav-start .menu {
  position: relative;
}
.nav-bar .navBar-wrapper .nav-start .menu .menu-bar {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-bar .navBar-wrapper .nav-start .menu .menu-bar li {
  display: list-item;
}
.nav-bar .navBar-wrapper .nav-start .menu .menu-bar li .link-navbar {
  text-decoration: none;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
  color: black;
}
.nav-bar .navBar-wrapper .nav-end {
  display: flex;
  align-items: center;
}
.nav-bar .navBar-wrapper .nav-end .right-container {
  display: flex;
  align-items: center;
}
.nav-bar .navBar-wrapper .nav-end .right-container .search {
  position: relative;
  transition: width 1s;
}
.nav-bar .navBar-wrapper .nav-end .right-container .search input {
  background-color: #f4f4f4;
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}
.nav-bar .navBar-wrapper .nav-end .right-container .search i {
  font-size: 15px;
  position: absolute;
  transform: translate(50%, 90%);
}
.nav-bar .navBar-wrapper .small-screen-navbar-icons {
  display: none;
  width: 20%;
}
.nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper {
  display: flex;
  justify-content: space-around;
}
.nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper .hamburger-menu {
  display: none;
}
.nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper .hamburger-menu i {
  font-size: 20px;
}
.nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper .search-small-screen {
  display: none;
}
.nav-bar .navBar-wrapper .small-screen-navbar-icons .small-screen-wrapper #x-mark {
  display: none;
  font-size: 20px;
}
.nav-bar .navBar-wrapper .search-box-small-screen {
  width: 100%;
  position: absolute;
  left: 0;
  top: 150px;
  display: none;
  z-index: 1000;
}
.nav-bar .navBar-wrapper .search-box-small-screen form input {
  width: 100%;
}

/*SLIDESHOW*/
.slideshow {
  background-color: aqua;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}
.slideshow .slide-container {
  background-color: #3c3c4c;
  width: 70%;
  height: 100%;
  border: 1px solid red;
  display: flex;
}
.slideshow .slide-container .slideshow-image-container {
  width: 70%;
  background-color: red;
  order: 1;
}
.slideshow .slide-container .slideshow-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slideshow .slide-container .slideshow-text-container {
  width: 30%;
  background-color: rgb(0, 174, 255);
}
.slideshow .left-button-container {
  background-color: #3c3c4c;
  order: -1;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .left-button-container #arrow-left {
  font-size: 30px;
  color: gray;
}
.slideshow .right-button-container {
  background-color: #3c3c4c;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .right-button-container #arrow-right {
  font-size: 30px;
  color: gray;
}
.slideshow .slideshow-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
}
.slideshow .slideshow-dots .dot {
  cursor: pointer;
  height: 3px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow .slideshow-dots .dot:hover {
  background-color: black;
}

/*NEWS*/
.news {
  background-color: #f1eef1;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.news .news-title {
  width: 100%;
  max-width: 1300px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.news .news-title h1 {
  color: smoke;
}
.news .news-container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
}
.news .news-container .news-card {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}
.news .news-container .news-card .news-card-image-container {
  width: 100%;
  height: 30%;
}
.news .news-container .news-card .news-card-image-container img {
  width: 100%;
}
.news .news-container .news-card .news-text-content {
  padding: 10px 20px 0px 20px;
  background-color: red;
  height: 100%;
  min-height: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .news-container .news-card .news-text-content .card-news-title {
  width: 100%;
}
.news .news-container .news-card .news-text-content .card-news-title h1 {
  width: 100%;
  font-size: 22px;
}
.news .news-container .news-card .news-text-content .news-description {
  overflow: hidden;
}
.news .news-container .news-card .news-text-content .news-description p {
  height: 100%;
}

/*COUNTER UP*/
.count-up {
  width: 100%;
}
.count-up .count-up-container {
  display: flex;
  padding: 50px 20px;
  width: 100%;
  height: 100%;
  height: 300px;
  background-image: url("/homepage/skolo napred.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.count-up .count-up-container .counter-box {
  width: 25%;
  height: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.count-up .count-up-container .counter-box .counter {
  font-size: 72px;
  font-weight: 600;
  color: white;
}
.count-up .count-up-container .counter-box h1 {
  font-size: 20px;
  color: white;
}

/*CITY PARTNERS*/
.city-partners {
  width: 100%;
  background-color: #cfcfcf;
  /* display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;  */
  padding: 25px 200px;
  height: 100%;
}
.city-partners .city-partners-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-partners .city-partners-wrapper .partner-box {
  width: 25%;
  float: left;
}
.city-partners .city-partners-wrapper .partner-box img {
  width: 100%;
}

/*WHO ARE WE/ABOUT US*/
.who-are-we {
  width: 100%;
  background-color: rgb(175, 164, 114);
}
.who-are-we .who-are-we-title {
  font-size: 40px;
  font-family: "Pacifico", cursive;
  font-weight: 100;
}
.who-are-we .who-are-we-content-wrapper {
  display: flex;
}
.who-are-we .who-are-we-content-wrapper .image-container {
  width: 50%;
  height: 500px;
  overflow: hidden;
  background-image: url(/homepage/referenceimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.who-are-we .who-are-we-content-wrapper .image-container img {
  transform: translateY(-30%);
}
.who-are-we .who-are-we-content-wrapper .who-are-we-image {
  width: 50%;
}
.who-are-we .who-are-we-content-wrapper .description-container {
  width: 50%;
  padding: 50px;
}

/*WHY US*/
.why-us {
  width: 100%;
  background-color: red;
}
.why-us .why-us-title {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.why-us .why-us-title h1 {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.why-us .why-us-reasons-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: flex-start;
  padding: 0px 120px;
}
.why-us .why-us-reasons-container .why-us-reasons-wrapper {
  width: 100%;
  max-width: 1000px;
  background-color: powderblue;
}
.why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reasons-start {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  float: left;
}
.why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reasons-end {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reason img {
  width: 70px;
}
.why-us .why-us-reasons-container .why-us-reasons-wrapper .why-us-reason h1 {
  color: white;
  font-size: 20px;
  width: 140px;
  text-align: center;
  padding-top: 10px;
}

/*PARTNERS SLIDER*/
.slider {
  background: #efeef2;
  height: 150pt;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: none;
  animation: infinite;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider:after {
  right: 0;
  top: 0;
  transform: rotateZ("180deg");
}
.slider:after, .slider:before {
  background: linear-gradient(to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider .slide-track-1 {
  animation: scroll-l 19s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide-track-2 {
  animation: scroll-r 30s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 150pt;
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
}
.slider .slide img {
  width: 200px;
  padding: 1pc;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
@keyframes scroll-l {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1989px);
  }
}
@keyframes scroll-r {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-1750px);
  }
}

/*FOOTER*/
.footer {
  width: 100%;
  height: 100%;
}
.footer .footer-container {
  background-color: #2F6C9D;
}
.footer .footer-container .footer-content-wrapper {
  max-width: 1440px;
  background-color: #2F6C9D;
  margin: auto;
  height: 100%;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-container .footer-content-wrapper .footer-content-area {
  width: 100%;
  display: flex;
  padding: 25px 0px;
  justify-content: center;
}
.footer .footer-container .footer-content-wrapper .footer-content-area h1 {
  font-size: 25px;
}
.footer .footer-container .footer-content-wrapper .footer-content-area .footer-contact-container {
  background-color: palegoldenrod;
  max-width: 25%;
  padding: 10px;
}
.footer .footer-container .footer-content-wrapper .footer-content-area .footer-contact-container ul {
  list-style-type: none;
}
.footer .footer-container .footer-content-wrapper .footer-content-area .footer-contact-container ul li {
  padding: 0 0 0 25px;
  position: relative;
  display: block;
}
.footer .footer-container .footer-content-wrapper .footer-content-area .footer-contact-container ul li i {
  position: absolute;
  left: 0px;
}
.footer .footer-container .footer-content-wrapper .footer-links-container {
  background-color: palevioletred;
  max-width: 25%;
  padding: 10px;
}
.footer .footer-container .footer-content-wrapper .footer-latest-news {
  background-color: paleturquoise;
  max-width: 25%;
  padding: 10px;
}
.footer .footer-container .footer-content-wrapper .footer-logo-container {
  width: 35%;
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-container .footer-content-wrapper .footer-logo-container img {
  width: 100%;
}
.footer .footer-container .footer-bottom {
  background-color: #1C3144;
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  color: white;
}
.footer .footer-container .footer-bottom .year {
  font-size: 14px;
  margin-left: 2px;
  font-weight: bold;
}
.footer .footer-container .footer-bottom p {
  font-size: 14px;
  font-weight: bold;
}
.footer .footer-container .footer-bottom p::after {
  content: "";
  border-right: 2px solid white;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
}
.footer .footer-container .footer-bottom .footer-developed {
  font-weight: 300;
}
.footer .footer-container .footer-bottom .footer-bottom-info {
  display: flex;
  align-items: center;
}
.footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start {
  display: flex;
}
.footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start p {
  font-size: 14px;
}
.footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start p .year {
  font-size: 14px;
}
.footer .footer-container .footer-bottom .footer-bottom-info .footer-bottom-info-start .footer-rights {
  font-size: 14px;
}
.footer .footer-container .footer-bottom .footer-bottom-info .footer-developed {
  font-size: 14px;
}
.footer .footer-container .footer-bottom .footer-bottom-socials ul {
  list-style-type: none;
}
.footer .footer-container .footer-bottom .footer-bottom-socials ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer .footer-container .footer-bottom .footer-bottom-socials ul li a {
  font-size: 24px;
  color: black;
}/*# sourceMappingURL=style.css.map */