*{margin:0;padding:0;-webkit-box-sizing: border-box;box-sizing: border-box;font-family: 'Inter', sans-serif;}
html,body{overflow-x: hidden;}
$navbar : red;

.remove-text-decoration
{
    text-decoration: none;
}
.list-style-type-none
{
    list-style-type: none;
}

/*EXPAND NAV BAR*/

.expand{
    height: 200px;
    animation: drop 1s;
}

.close{
    animation: close 2s;
}

@keyframes drop{
    from{
        height: 100px;
    }
    to{
        height: 200px;
    }
    
}

@keyframes close{
    from{
        height: 200px;
    }
    to{
        height: 100px;
    }
}

.slide-in{
    animation: slideIn 3s;
}
@keyframes slideIn{
    from{
        margin-left:2000px;
    }
    to{
        margin:0px;
    }
}

.slide-out{
    animation: slideOut 3s;
}
@keyframes slideOut{
    from{
        margin-right:0px;
    }
    to{
        margin-right:2000px;
        display:none;
    }
}


/*EXPAND NAV BAR END*/


/*NAVBAR*/

.top-nav-bar{

    background-color: red;

}


.nav-bar
{
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow:hidden;
    padding:10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    //height: 100px;

    //animation: drop 1s;

    .navBar-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    

        .nav-start
        {
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            #navbar-logo{
                width:100px;
            }

            .menu{
                position:relative;

                .menu-bar{
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    list-style-type: none;

                    li{
                        display:list-item;
                        

                        .link-navbar{
                            text-decoration: none;
                            padding: 0.3rem;
                            min-width: 60px;
                            margin: 0 0.6rem;
                            color:black;
                        }
                    }
                }
            }
        }

        .nav-end
        {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;

            .right-container
            {
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .search
                {
                    position: relative;
                    //display: flex;
                    transition: width 1s; 

                    input{
                        background-color: #f4f4f4;
                        border: none;
                        border-radius: 6px;
                        padding: 0.7rem;
                        padding-left: 2.4rem;
                        font-size: 16px;
                        width: 100%;
                        border: var(--border);
                    }
                    i{
                        font-size: 15px;
                        position: absolute;
                        transform: translate(50%, 90%);
                    }
                }
            }
        }

        .small-screen-navbar-icons{
            //background: red;
            display:none;
            width: 20%;
            

            .small-screen-wrapper{
                display:flex;
                justify-content: space-around;
                //width:30%;

                .hamburger-menu{
                    // background-color: red;
                    display:none;
                    //padding-right: 30px;
                    i{
                        font-size:20px;
                    }
                }
            
                .search-small-screen{
                    display:none;
                }

                #x-mark{
                    display:none;
                    font-size:20px;
                }
            }


        }

        .search-box-small-screen{
            width: 100%;
            position: absolute;
            left:0;
            top:150px;
            display: none;
            z-index: 1000;
            form{
                
                input{
                    width: 100%;
                }
            }
        }
    
    }
}

/*SLIDESHOW*/

.slideshow
{
    background-color: #3c3c4c;
    width: 100%;
    max-width: 100%;
    height: 500px;
    display:-webkit-box;
    display:-ms-flexbox;
    //display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    //justify-content: center;
    position: relative;
    //display: inline-grid;
    //grid-template-rows: 500px;
    //grid-row: auto;

    //overflow-y: scroll;
    overflow: scroll;
    display: flex;
    

    
.slide-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    //background-color: powderblue;
    
    //display:none;

    .slide-container{
        background-color: #3c3c4c;
        //width: 70%;
        width: 100%;
        max-width: 1320px;
        height: 100%;
        //border: 1px solid red;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        //float:left;
        //min-width: 1400px;
        justify-content: space-between;

        



        .slideshow-image-container{
            width:66%;
            //background-color: red;
            -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
            order:1;
            

            img{
                width: 100%;
                //max-width:1000px;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: contain;
            }
        }

        .slideshow-text-container{
            width:30%;
            //background-color: rgb(0, 174, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding:50px 0px;
            
            //.slideshow-text-wrapper{

                .title-of-slideshow{
                    color:white;
                    font-size: 31px;
                    font-weight: 600;
                    margin-bottom:15px;
                }
    
                .description-of-slideshow{
                    color:white;
                    font-size: 20px;
                    margin-bottom:40px;
                    width: 100%;
                    overflow: hidden;
                    
                }
            //}
            
            
            .slideshow-more{
                text-decoration: none;
                color:white;
                background-color: #646470;
                border:1px solid #646470;
                width:80px;
                padding:10px 0px;
                text-align: center;
                font-weight: bold;
                margin-top:20px;
                
            }
        }
    }
}
    .left-button-container{
        //background-color: #3c3c4c;
        //background-color: powderblue;
        -webkit-box-ordinal-group:0;
        -ms-flex-order:-1;
        order:-1;
        width:15%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        //float:left;
        position: absolute;
        left:0;
        height: 100%;

        #arrow-left{
            font-size:30px;
            color:gray;
        }
    }

    .right-button-container{
        //background-color: #3c3c4c;
        width: 15%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        //float:right;
        position:absolute;
        right:0;
        height: 100%;

        #arrow-right{
            font-size:30px;
            color:gray;
        }
    }

    .slideshow-dots{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        width:100%;
        height: 70px;
        bottom:0;
        //background-color: black;


        .dot{
            cursor: pointer;
            height: 3px;
            width: 30px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 5px;
            display: inline-block;
            -webkit-transition: background-color 0.6s ease;
            -o-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease;

            
        }
        .dot:hover{
            background-color: black;
        }
    }

    #slide-1{display:flex;}
    #slide-2, #slide-3{display:none;}
}

/*NEWS*/

.news
{
    background-color: #f1eef1;
    padding:20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .news-title{
        //width:70%;
        width: 100%;
        max-width: 1300px;
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        //padding-left:20px;

        h1{
            color:smoke;
        }
    }

    .news-container{
        //width: 70%;
        width: 100%;
        max-width: 1300px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
         align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 20px;
        //column-gap: 20px;

        //padding: 0px 100px;

        .news-card{
            width:32%;
            height: 100%;
            //min-height: 500px;
            //max-height: 500px;
            //background-color: red;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            //padding-bottom:20px;
            border: 1px solid rgba(0,0,0,0.125);
            background-color: #fff;

            

           .news-card-image-container{
            width: 100%;
            height: 30%;
        

            img{
                width: 100%;
                //object-fit: cover;
            }
           }

           .news-text-content{
            padding:10px 20px 0px 20px; 
            //height: 70%;
            //background-color: red;
            height: 100%;
            min-height: 240px;
            overflow: hidden;
            //white-space: nowrap;
            text-overflow: ellipsis;


            .card-news-title{
                width: 100%;
                //height: 100%;
                h1{
                    width: 100%;
                    //height: 100%;
                    font-size: 22px;
                    //padding-bottom: 10px;
                }
            }

            .news-description{
                overflow: hidden;
                p{
                    height: 100%;
                }
            }
           }
           
        }
    }
}

/*COUNTER UP*/

.count-up
{
    width:100%;


    .count-up-container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        padding:50px 20px;

        width: 100%;
        height: 100%;
        height: 300px;
        background-image: url("/homepage/skolo napred.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;

        



        .counter-box{
            //background-color: palegoldenrod;
            width: 25%;
            height: 200px;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            //border-left:1px solid red;

            .counter{
                font-size:72px;
                font-weight: 600;
                color:white;
            }

            h1{
                font-size:20px;
                color:white;
            }
        }
    }
}

/*CITY PARTNERS*/

.city-partners
{
    width: 100%;
    //background-color: #cfcfcf;
   /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;  */
    padding:25px 200px;
   // row-gap: 60px;
    height: 100%;
    
    .city-partners-wrapper{

        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        

        .partner-box{
            //background-color: red;
            width: 25%;
            
            float:left;  
            img{
                //object-fit: cover;
                width: 100%;
            }
        }
        
    }
    

}

/*WHO ARE WE/ABOUT US*/

.who-are-we
{
    width: 100%;
    background-color: rgb(227,222,227);
    //padding:25px;

    
    .who-are-we-title{
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        font-weight: 100; 
    }

    .who-are-we-content-wrapper{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        //padding:0px 20px 20px 20px;
        //justify-content: center;

        .image-container{
            width:50%;
            height: 500px;
            overflow:hidden;

            background-image: url(/homepage/referenceimage.jpg);

            //background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;

            img{
                //width: inherit;
                -webkit-transform:translateY(-30%);
                -ms-transform:translateY(-30%);
                transform:translateY(-30%);
                
            }
        }

        .who-are-we-image{
            width:50%;
        }

        .description-container{
            width: 50%;
            padding:50px;
        }
    }
}

/*WHY US*/

.why-us
{
    width: 100%;
    background-color: red;

    .why-us-title{
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;

        h1{
            font-size: 45px;
            font-family: 'Ubuntu', sans-serif;
            color:white;
        }
    }

    .why-us-reasons-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-top: 20px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding:0px 120px;

        .why-us-reasons-wrapper{
            width: 100%;
            //display: flex;
            //justify-content: ;
            max-width:1000px;
            //background-color: powderblue;

            .why-us-reasons-start{
                width: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                 flex-direction: column;
                //ustify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                //margin-left: 140px;
                float:left;

            }

            .why-us-reasons-end{
                width: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                 flex-direction: column;
                //margin-right: 140px;
            }

            .why-us-reason{
                //background-color: blue;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 20px;
                //padding-top:0;
                //justify-content: space-between;

                img{
                    width: 70px;
                }

                h1{
                    color:white;
                    font-size: 20px;
                    //word-wrap: break-word;
                    width: 140px;
                    text-align: center;
                    padding-top: 10px;
                }
            }
        }
    }
}

/*PARTNERS SLIDER*/

.slider{
    background: #efeef2 ;
    height: 150pt;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor: default;
    user-select: none;
    touch-action: none;
    animation: infinite;

    &::before{
        left: 0;
        top: 0;
    }


    &:after{
        right: 0;
        top: 0;
        transform: rotateZ('180deg');
    }

    &:after, &:before{
        background: linear-gradient(
            to right,
            #efeef2 0%,
            hsla(0, 0%, 100%, 0) 100%
        );
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .slide-track-1{
        animation: scroll-l 19s linear infinite;
        display: flex;
        width: 3500px;
    }

    .slide-track-2 {
        animation: scroll-r 30s linear infinite;
        display: flex;
        width: 3500px;
    }

    .slide {
        height: 150pt;
        width: 250px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .slide img {
        width: 200px;
        padding: 1pc;
        vertical-align: middle;
        margin: 0 auto;
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    @keyframes scroll-l {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-153px * 13));
        }
    }
    @keyframes scroll-r {
        100% {
            transform: translateX(0);
        }
        0% {
            transform: translateX(calc(-250px * 7));
        }
    }
}

/*FOOTER*/

.footer
{
    width:100%;
    height: 100%;
    
    

    .footer-container{
        //padding:25px 0px;
        background-color: #2F6C9D;

        .footer-content-wrapper{
            max-width: 1440px;
            background-color: #2F6C9D;
            margin:auto;
            height: 100%;
            min-height: 350px;
            display:flex;
            justify-content: space-between;
            

            .footer-content-area{
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding:25px 0px;
                justify-content: center;

                h1{
                    font-size:25px;
                }

                .footer-contact-container{
                    background-color: palegoldenrod;
                    max-width: 25%;
                    padding:10px;
                    //position: relative;

                    

                    ul{
                        list-style-type: none;

                        li{
                            padding: 0 0 0 25px;
                            position: relative;
                            display:block;

                            i{
                                position: absolute;
                                left:0px;
                            }
                        }
                    }
                }
            }

            .footer-links-container{
                background-color: palevioletred;
                max-width: 25%;
                padding:10px;
            }

            .footer-latest-news{
                background-color: paleturquoise;
                max-width: 25%;
                padding:10px;
            }

            .footer-logo-container{
                width: 35%;
                order:-1;
                //background-color: black;
                display:flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                }
            }
            
        }

        .footer-bottom{
            background-color: #1C3144;
            //padding:15px 0px 15px 0px;
            padding:15px 0px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around; 
            color:white;

            .year{
                font-size:14px;
                margin-left:2px;
                font-weight: bold;
            }

            p{
                //margin-left:5px;
                font-size:14px;
                font-weight: bold;

                &::after{
                    content: "";
                    border-right:2px solid white;
                    font-weight: bold;
                    //width: 2px;
                    margin:0px 5px 0px 5px;
                }
                
            }
            .footer-developed{font-weight: 300;}

            .footer-bottom-info{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .footer-bottom-info-start{
                    display: flex;

                    p{font-size:14px; .year{font-size: 14px;}}
                    .footer-rights{font-size:14px}
                }
                
                .footer-developed{font-size:14px}
                
            }

            .footer-bottom-socials{
                
                ul{
                    list-style-type: none;

                    li{
                        display: inline-block;
                        margin-right: 10px;

                        a{
                            font-size: 24px;
                            color:black;
                        }
                    }
                }
            }
        }
    }

    
}


